@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    padding: 0;
}

:root {
    --main-gap: 32px;
    --main-color: #008000;
    --gray-color: #2c2c2c;
    --gray-color: #2c2c2c;
}

div {
    box-sizing: border-box;
}

.icon {
    width: 50px;
    height: 50px;
}

#conatct-row {
    height: fit-content;
    gap: 8px;
}

#conatct-row img {
    transition: 300ms;
    cursor: pointer;
    filter: drop-shadow(0px 0px 0px var(--main-color));
}

#conatct-row img:hover {
    filter: drop-shadow(-5px 5px 1px var(--main-color));
}

button {
    background-color: var(--gray-color);
    border: 0;
    color: black;
    font-size: 24px;
    padding: 8px 32px;
    border-radius: 8px;
    transition: 0.3s;
    height: min-content;
}

button:hover {
    background-color: var(--main-color);
    color: white;
}

#hero-left {
    justify-content: center;
    align-items: center;
    gap: 16px;
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
    gap: var(--main-gap);
    align-items: center;
    justify-content: center;
    padding: 64px;
    box-sizing: border-box;
    background-color: #131212;
    overflow: hidden;
}

#main {
    width: 55%;
}

.column {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: var(--main-gap);
}

.row {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    gap: var(--main-gap);

}

.box {
    border: 2px solid #2c2c2c;
    width: 100%;
    height: 100%;
    border-radius: 24px;
    transition: 0.4s;
    background-color: #171717;
    padding: 24px;
}

span.highlight {
    color: var(--main-color);
}



.box:hover {
    border-radius: 0px;
    box-shadow: -12px 12px 0px 0px var(--main-color);
    border: 2px solid var(--main-color);

}

#secondary-column {
    display: flex;
    flex-direction: row;
}

#featured-project {
    /* background-color: #131212; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: visible;
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
}


#featured-project:hover {
    box-shadow: none
}

.throwing {

    animation: throwAway 0.8s ease-in forwards;
}

.falling {
    transform-origin: center top;
    perspective: 100px;
    animation: cair 1s ease-in forwards;
    animation-delay: 150ms;
    
}



#polaroid {
    background-color: whitesmoke;
    padding: 24px;
    box-sizing: border-box;
    width: 100%;
    gap: 8px;
    display: flex;
    flex-direction: column;
    position: absolute;
    transition: 0.1s ease;
    z-index: 10;
    backface-visibility: hidden;
    transform-origin: center top;


}

#polaroid #pin {
    font-size: 32px;
    position: absolute;
    /* left: 50%; */
    top: 0;
    /* transform: translate(0, -80%); */
    width: 60px;
    color: var(--main-color);
    cursor: grabbing;
    z-index: 9999;
    filter: drop-shadow(0px 5px 1px rgba(0, 0, 0, 0.71));
}


#polaroid h3,
#polaroid p {
    color: var(--gray-color);
    text-align: start;
}


#polaroid img {
    width: 100%;
    aspect-ratio: 1;
}


#polaroid .content {
    display: flex;
    align-items: end;
    justify-content: space-between;
}


#polaroid button {
    padding: 0;
    height: 24px;
    color: var(--gray-color);
    background-color: transparent;
    cursor: pointer;

}


#polaroid .content>div {
    display: flex;
    flex-direction: column;
    justify-content: start;
}


#more-projects {
    border: 1px dashed var(--main-color);
    width: 90%;
    height: 90%;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 16px;
    gap: 16px;

}

#more-projects span {
    font-family: "Architects Daughter", cursive;
    color: var(--main-color);
    font-size: 20px;
    text-align: center;
    letter-spacing: 2px;
}


#more-projects span#ops {
    font-size: 48px;
}



#game-column {
    width: 45%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
    flex-direction: column;
}

#game-ship {
    color: var(--main-color);
    position: absolute;
    bottom: 10px;
}

.game-asteroid {
    color: var(--main-color);
    position: absolute;
    top: 10px;
}


h1,
h2,
h3,
h4,
h5 {
    font-family: "Roboto", sans-serif;
    color: whitesmoke;
    margin: 0;
    text-align: left;
    width: 100%;
}

h3 {
    text-align: center;
}

#alternative-link {
    font-size: 1.5rem;
    transition: 0.4s;
    color: whitesmoke;
}

#alternative-link:hover {
    /* font-size: x-large; */
    font-size: 2rem;
    color: var(--main-color);
}

p,
span,
a {
    font-family: "Roboto", sans-serif;
    /* font-size: 20px; */
    color: whitesmoke;
    margin: 0;
}

.horizontal-divider {
    height: 100%;
    width: 1px;
    border-left: 1px solid var(--main-color);
}

#hero-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

#experience-box {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.writer::after {
    content: "|";
    animation: blink-caret 0.7s step-end infinite;
}

.color-selector {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    padding: 0;
    cursor: pointer;
}

#color-selector-box {

    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: center;
    align-items: center;
}

.color-selector[data-color="#800080"] {
    background-color: #800080;
}

.color-selector[data-color="#ff0000"] {
    background-color: #ff0000;
}

.color-selector[data-color="#008000"] {
    background-color: #008000;
}

.color-selector[data-color="#0000ff"] {
    background-color: #0000ff;
}

.color-selector[data-color="#ffff00"] {
    background-color: #ffff00;
}

.color-selector.selected {
    filter:
        drop-shadow(-5px 5px 0px color-mix(in srgb, var(--main-color) 50%, transparent)) drop-shadow(-5px 5px 0px color-mix(in srgb, var(--main-color) 30%, transparent))
}


.loader {
    width: 24px;
    height: 24px;
    border: 3px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}






@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}



@keyframes blink-caret {

    0%,
    100% {
        opacity: 0
    }

    50% {
        opacity: 1
    }
}


@keyframes throwAway {
    0% {
        transform: translate(0px, 0px) rotate(0deg);
    }

    10% {
        transform: translate(20px, -25px) rotate(36deg);
    }

    20% {
        transform: translate(40px, -40px) rotate(72deg);
    }

    30% {
        transform: translate(60px, -45px) rotate(108deg);
    }

    40% {
        transform: translate(80px, -40px) rotate(144deg);
    }

    50% {
        transform: translate(100px, -25px) rotate(180deg);
    }

    60% {
        transform: translate(120px, 0px) rotate(216deg);
    }

    70% {
        transform: translate(140px, 40px) rotate(252deg);
    }

    80% {
        transform: translate(160px, 90px) rotate(288deg);
    }

    90% {
        transform: translate(180px, 150px) rotate(324deg);
    }

    100% {
        transform: translate(200px, 200px) rotate(360deg);
    }
}



@keyframes cair {
    0% {
        transform: translateY(0px);
        opacity: 1;
    }

    100% {
        transform: translateY(800px) rotateZ(25deg);
        opacity: 0;
    }
}