@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Press+Start+2P&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    padding: 0;
}

:root {
    --main-gap: 32px;
    --main-color: #008000;
    --gray-color: #2c2c2c;
    --background-color: #171717;
}

div {
    box-sizing: border-box;
}

.icon {
    width: 50px;
    height: 50px;
}

#conatct-row {
    height: fit-content;
    gap: 8px;
}

#conatct-row img {
    transition: 300ms;
    cursor: pointer;
    filter: drop-shadow(0px 0px 0px var(--main-color));
}

#conatct-row img:hover {
    filter: drop-shadow(-5px 5px 1px var(--main-color));
}

button {
    background-color: var(--gray-color);
    border: 0;
    color: black;
    font-size: 24px;
    padding: 8px 32px;
    border-radius: 8px;
    transition: 0.3s;
    height: min-content;
}

button:hover {
    background-color: var(--main-color);
    color: white;
}

#hero-left {
    justify-content: center;
    align-items: start;
    gap: 16px;
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
    gap: var(--main-gap);
    align-items: center;
    justify-content: center;
    padding: 64px;
    box-sizing: border-box;
    background-color: #131212;
    overflow: hidden;
}

#main {
    width: 55%;
}

.column {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: var(--main-gap);
}

.row {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    gap: var(--main-gap);

}

.box {
    border: 2px solid #2c2c2c;
    width: 100%;
    height: 100%;
    border-radius: 24px;
    transition: 0.4s;
    background-color: var(--background-color);
    padding: 24px;
}

span.highlight {
    color: var(--main-color);
}



.box:hover {
    border-radius: 0px;
    box-shadow: -12px 12px 0px 0px var(--main-color);
    border: 2px solid var(--main-color);

}

#secondary-column {
    display: flex;
    flex-direction: row;
}

#featured-project {
    /* background-color: #131212; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: visible;
    position: relative;
}


#featured-project:hover {
    box-shadow: none
}




#featured-project #pin {
    font-size: 32px;
    position: absolute;
    top: -30px;
    left: calc(50%);
    width: 60px;
    color: var(--main-color);
    cursor: grabbing;
    z-index: 9999;
    filter: drop-shadow(0px 5px 1px rgba(0, 0, 0, 0.71));
}


#polaroid {
    background-color: whitesmoke;
    padding: 24px;
    box-sizing: border-box;
    height: 100%;
    aspect-ratio: 1 / 1.2;
    gap: 8px;
    display: flex;
    position: absolute;
    flex-direction: column;
    transition: 0.1s ease;
    z-index: 10;
    backface-visibility: hidden;
    transform-origin: center top;
}




#polaroid h3,
#polaroid p {
    color: var(--gray-color);
    text-align: start;
}


#polaroid img {
    width: 100%;
    aspect-ratio: 1;
}


#polaroid .content {
    display: flex;
    align-items: end;
    justify-content: space-between;
}


#polaroid button {
    padding: 0;
    height: 24px;
    color: var(--gray-color);
    background-color: transparent;
    cursor: pointer;

}


#polaroid .content>div {
    display: flex;
    flex-direction: column;
    justify-content: start;
}


#more-projects {
    border: 1px dashed var(--main-color);
    aspect-ratio: 1 / 1.2;
    height: 90%;
    border-radius: 24px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 16px;
    gap: 16px;

}

#more-projects span {
    font-family: "Architects Daughter", cursive;
    color: var(--main-color);
    font-size: 20px;
    text-align: center;
    letter-spacing: 2px;
}


#more-projects span#ops {
    font-size: 48px;
}



.game-column {
    width: 45%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 24px;
    overflow: hidden;
}

.game-column h2 {
    text-align: center;

}

.game-column:hover button {
    background-color: var(--main-color);
    color: white;
    cursor: pointer;
}


#game-ship {
    color: var(--main-color);
    position: absolute;
    bottom: 10px;
    left: 50%;
}

.game-asteroid {
    color: var(--main-color);
    position: absolute;
    top: 10px;
}


h1,
h2,
h3,
h4,
h5 {
    font-family: "Roboto", sans-serif;
    color: whitesmoke;
    margin: 0;
    text-align: left;
    width: 100%;
}

h3 {
    text-align: center;
}

#alternative-link {
    font-size: 1.5rem;
    transition: 0.4s;
    color: gray;
    cursor: pointer;
    border-bottom: 3px solid transparent;
}

#alternative-link span {
    color: gray;
    text-decoration: line-through;

}

#alternative-link:hover {
    border-bottom: 3px solid var(--main-color);
}

p,
span,
a {
    font-family: "Roboto", sans-serif;
    /* font-size: 20px; */
    color: whitesmoke;
    margin: 0;
}

.horizontal-divider {
    height: 100%;
    width: 1px;
    border-left: 1px solid var(--main-color);
}

#hero-box {
    container-name: hero-box;
    container-type: inline-size;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

#experience-box {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 16px;
    position: relative;
    overflow: hidden;
    border-radius: 16px;
    box-shadow: none;
}

#experience-box h3 {
    text-shadow: -2px 0 var(--background-color), 0 2px var(--background-color), 2px 0 var(--background-color), 0 -2px var(--background-color);
    z-index: 2;

}

#experience-time {
    color: var(--main-color);
    font-weight: 900;
    font-size: 36px;
    text-shadow: -2px 0 var(--background-color), 0 2px var(--background-color), 2px 0 var(--background-color), 0 -2px var(--background-color);
    z-index: 2;
}

.xp {
    color: var(--main-color);
    font-size: 16px;
    position: absolute;
    font-family: "Press Start 2P", system-ui;
    animation: fade-in 3s ease-in forwards;
    left: var(--pos-x, 0px);
}

#experience-box .fill {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0%;
    background: var(--main-color);
    transition: height 1s ease;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    overflow: hidden;
}

.writer::after {
    content: "|";
    animation: blink-caret 0.7s step-end infinite;
}

.color-selector {
    max-width: 50px;
    border-radius: 100%;
    padding: 0;
    cursor: pointer;
    opacity: 0.2;
    width: 100%;
    aspect-ratio: 1;
}

.color-selector:hover {
    border-radius: 16px;
    opacity: 0.5;
}



.color-selector.selected {
    opacity: 1;
    border-radius: 16px;
    filter:
        drop-shadow(-5px 5px 0px color-mix(in srgb, var(--main-color) 50%, transparent)) drop-shadow(-5px 5px 0px color-mix(in srgb, var(--main-color) 30%, transparent));

}


.color-selector[data-color="#800080"] {
    background-color: #800080;
}

.color-selector[data-color="#ff0000"] {
    background-color: #ff0000;
}

.color-selector[data-color="#008000"] {
    background-color: #008000;
}

.color-selector[data-color="#0000ff"] {
    background-color: #0000ff;
}

.color-selector[data-color="#ffff00"] {
    background-color: #ffff00;
}

#color-selector-box {

    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: center;
    align-items: center;
}

#main>div:nth-child(1)>div:nth-child(2) {
    display: none;
}

@media screen and (max-width: 1400px) {
    main {
        padding: 16px;
    }

    #hero-box {
        width: 100%;
        position: relative;
    }

    body>main:nth-child(1)>div:nth-child(2) {
        display: none;
    }

    #main>div:nth-child(1)>div:nth-child(2) {
        display: flex;
        width: 100%;
    }

    #main {
        width: 100%;
    }
}


@container hero-box (width < 500px) {
    model-viewer {
        opacity: 0.5;
        filter: blur(2px);
        position: absolute;
        z-index: 1;

    }

    #hero-left {
        z-index: 2;
        text-shadow: -2px 0 var(--background-color), 0 2px var(--background-color), 2px 0 var(--background-color), 0 -2px var(--background-color);
    }
}


@media screen and (max-width: 800px) {
    #main>div:nth-child(1)>div:nth-child(2) {
        display: none;
    }

    #main>div:nth-child(1) {
        height: auto;
    }

    #main>.row {
        flex-direction: column;
        gap: 16px;
    }

    main {
        overflow: auto;
    }

    #hero-box {
        width: 100%;
    }

    #featured-project {
        height: 100%;
        width: 100%;
        aspect-ratio: 1 / 1.2;
        font-size: 14px;
    }

}

.loader {
    width: 24px;
    height: 24px;
    border: 3px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}


.fall {
    animation: throwAway 1.2s ease-in forwards;
}

.throwing {
    animation: throwAway 1.2s cubic-bezier(.52, -0.45, .91, 1.03) forwards;
}


.falling {
    transform-origin: center top;
    perspective: 100px;
    animation: cair 1s ease-in forwards;
}



@keyframes blink-caret {

    0%,
    100% {
        opacity: 0
    }

    50% {
        opacity: 1
    }
}

@keyframes throwAway {
    0% {
        transform: translateY(0) translateX(0) rotate(0deg);
    }

    100% {
        transform: translateY(100vh) translateX(0) rotate(1000deg);
    }
}


@keyframes cair {
    0% {
        transform: translateY(0px);
        opacity: 1;
    }

    100% {
        transform: translateY(800px) rotateZ(25deg);
        opacity: 0;
    }
}


@keyframes fade-in {

    0% {
        top: 100%;
        opacity: 0;
    }

    100% {
        top: -25px;
        opacity: 1;
    }
}